<div data-aos="fade-right" data-aos-duration="500">
    <header class="d-flex justify-content-between align-items-center">
       <div class="col-6">
        <h4>Upload Monthly Disposed/ Transferred Case Report</h4>
       </div>
        <div class="col-6">
        <a href="assets/media/data-collection-form/mcs_disposed_data_collection_format.csv" target="_blank"> Download sample for data upload</a>
       </div>
    </header>
    <hr>


    <div class="row g-3 mb-0">
        <form #filter="ngForm" (ngSubmit)="onSubmit(filter)">
        <div class="row g-3  d-flex align-items-start">

            <div class="col-3 col-lg-2">

                <label for="month" class="form-label ">Month <span class="text-danger">*</span></label>
                <select class="form-select shadow-none" name="month" #month="ngModel" [ngModel]="filterData && filterData.month || ''" [disabled]="showLoader"
                    (change)="ResetReport()"
                    required>
                    <option value="">---Select Month---</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <small class="text-danger" *ngIf="month.touched && month.invalid">select a month</small>
            </div>
            <div class="col-3 col-lg-2">
                <label for="year" class="form-label ">Year <span class="text-danger">*</span></label>
                <select class="form-select shadow-none" name="year" #year="ngModel" [ngModel]="filterData && filterData.year || ''" [disabled]="showLoader"
                    (change)="ResetReport()" required>
                    <option value="">---Select Year---</option>
                    <option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </option>
                </select>
                <small class="text-danger" *ngIf="year.touched && year.invalid">select a year</small>
            </div>
            <div class="col-3 col-lg-2">
                <label for="year" class="form-label ">Case Type <span class="text-danger">*</span></label>
                <select class="form-select shadow-none" name="case_type" #case_type="ngModel" [ngModel]="filterData && filterData.case_type || ''"
                    [disabled]="showLoader" (change)="ResetReport()" required>
                    <option value="">---Select Case Type---</option>
                    <option value="civil">Civil</option>
                    <option value="criminal">Criminal</option>
                </select>

                <small class="text-danger" *ngIf="case_type.touched && case_type.invalid">select case type</small>
            </div>
            <div class="col-6 col-lg-3">
                <label class="form-label">Upload File</label>
                <div class="d-flex gap-2 align-items-center">
                    <input class="form-control form-control-sm" type="file" name="file" id="file" (change)="onFileSelected($event)" [disabled]="showLoader" />
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="onUpload(filter)" [disabled]="showLoader">
                       <i class="bi bi-floppy"></i> Upload
                    </button>
                </div>
                <small class="text-muted" *ngIf="uploadMessage">{{ uploadMessage }}</small>
            </div>

            <div class="col-12 mt-3">
              <div class="card p-3">
                <h6>Last Uploaded Report</h6>

                <!-- <ng-container *ngIf="(lastUploadedReport$ | async) as report; else loading"> -->

                    <table class="table table-sm table-bordered mb-0">
                    <thead>
                      <tr>
                        <th> Month</th>
                        <th> Year</th>
                        <th>Uploaded At</th>
                      </tr>
                    </thead>
                   @if (lastUploadedReport) {
                    <tbody>
                      @for (item of lastUploadedReport.results; track item.id) {
                        <tr>
                          <td>{{ item.report_month }}</td>
                          <td>{{ item.report_year }}</td>
                          <td>{{ item.updated_at | date: 'dd MMMM,yyyy' }} at {{ item.updated_at | date: 'hh:mm a'}} </td>
                        </tr>
                      }
                      </tbody>
                    }
                  </table>

                <!-- </ng-container> -->

                <!-- <ng-template #loading>
                  <p class="mb-0">Loading...</p>
                </ng-template> -->
              </div>
            </div>

            <!-- <div class="col-3 col-lg-2">
                <label for="year" class="form-label ">User <span class="text-danger">*</span></label>
                <select class="form-select shadow-none" name="user" #user="ngModel" [ngModel]="filterData && filterData.user || ''" [disabled]="showLoader"
                    (change)="ResetReport()" required>
                    <option value="">---Select User---</option>
                    <option *ngFor="let user of userList" [value]="user.id">
                        {{ user.username }}
                    </option>
                </select>
                <small class="text-danger" *ngIf="user.touched && user.invalid">select a user</small>
            </div> -->


            <!-- <div class="col-3 col-lg-2  mt-0 d-flex align-items-end mt-lg-5">
                <button class="btn btn-primary" type="submit" [disabled]="showLoader" >
                    @if(showLoader){
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    }
                    @else{
                    <i class="bi bi-search"></i>
                    }
                </button>
            </div> -->

        </div>
         </form>
    </div>


        <!-- <div class="row g-3 mt-4 mb-0" id="table-to-pdf">
            <span class="text-center" >
                <h5>LIST OF {{case_type.value | uppercase }} CASES DISPOSED/TRANSFERRED IN THE MONTH OF {{month.value | uppercase}}, {{year.value}}</h5>
            </span>
            <table class="table table-bordered" >
                <thead class="table-header">
                    <tr>
                        <th>Sl No.</th>
                        <th>Case</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (true){
                        @for(d of disposedTransferredCases;track d ; let i=$index){
                        <tr>
                            <td width="10">{{i+1}}</td>
                            <td width="80">{{d.type_name}} No. {{d.goshwara_no}} of {{d.reg_year}} <br /> {{d.pet_name}} <br /> Vrs. <br /> {{d.res_name}}</td>
                            <td width="10">Contested ({{d.date_of_decision}}) <br/> on  {{d.transfer_est}}</td>
                        </tr>
                    }
                    }
                    @else{
                    <tr class="text-center" ><td colspan="3" class="text-secondary">No record found</td></tr>
                    }

                </tbody>
            </table>
        </div> -->
</div>
