<div data-aos="fade-right" data-aos-duration="500">
    <header class="d-flex justify-content-between align-items-center">
        <h4>Ex Parte Injunction Granted Cases</h4>
    </header>
    <hr>


    <div class="row g-3 mb-0">
        <form #filter="ngForm" (ngSubmit)="onSubmit(filter)">
            <div class="row g-3  d-flex align-items-start">

                <div class="col-3 col-lg-2">

                    <label for="month" class="form-label ">Month <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="month" #month="ngModel"
                        [ngModel]="filterData && filterData.month || ''" [disabled]="showLoader"
                        (change)="ResetReport()" required>
                        <option value="">---Select Month---</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <small class="text-danger" *ngIf="month.touched && month.invalid">select a month</small>
                </div>
                <div class="col-3 col-lg-2">
                    <label for="year" class="form-label ">Year <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="year" #year="ngModel"
                        [ngModel]="filterData && filterData.year || ''" [disabled]="showLoader" (change)="ResetReport()"
                        required>
                        <option value="">---Select Year---</option>
                        <option *ngFor="let year of years" [value]="year">
                            {{ year }}
                        </option>
                    </select>
                    <small class="text-danger" *ngIf="year.touched && year.invalid">select a year</small>
                </div>
                <div class="col-3 col-lg-2">
                    <label for="year" class="form-label ">Case Type <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="case_type" #case_type="ngModel"
                        [ngModel]="filterData && filterData.case_type || ''" [disabled]="showLoader" (change)="ResetReport()" required>
                        <option value="">---Select Case Type---</option>
                        <option value="civil">Civil</option>
                        <option value="criminal">Criminal</option>
                    </select>

                    <small class="text-danger" *ngIf="case_type.touched && case_type.invalid">select case type</small>
                </div>
                <div class="col-3 col-lg-2" *ngIf="username==='hcs_admin'">
                    <label for="year" class="form-label ">Organization <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="user" #user="ngModel" [ngModel]="filterData && filterData.user || ''"
                        [disabled]="showLoader" (change)="ResetReport()" required>
                        <option value="">---Select User---</option>
                        <option *ngFor="let org of organisationList" [value]="org.id">
                            {{org.organization_name}}
                        </option>
                    </select>
                    <small class="text-danger" *ngIf="user.touched && user.invalid">select a user</small>
                </div>


                <div class="col-3 col-lg-2  mt-0 d-flex align-items-end mt-lg-5">
                    <button class="btn btn-primary" type="submit" [disabled]="showLoader">
                        @if(showLoader){
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        }
                        @else{
                        <i class="bi bi-search"></i>
                        }
                    </button>
                </div>

                <div *ngIf="allExParteInjunctionCases && allExParteInjunctionCases.length>0"
                    class="col-3 col-lg-2 text-left bg-secondary-subtle rounded-2  pb-2">
                    <label for="year" class="form-label ">Filter <span class="text-danger"><i class="bi bi-filter"></i></span></label>
                    <select class="form-select shadow-none" name="case_type_name" #case_type_name="ngModel"
                        (change)="filterDataByTypeName($event)" [ngModel]="filterData && filterData.case_type_name || ''"
                        [disabled]="showLoader">
                        <option value="">-- Case Type Name --</option>
                        <option *ngFor="let case of casetypeNames" [value]="case">
                            {{ case }}
                        </option>
                    </select>
                </div>

            </div>
        </form>
    </div>


    <div *ngIf="exParteInjunctionCases" class="row g-3 mt-4 mb-0" id="table-to-pdf">
        <span class="text-center">
            <h5>LIST OF CASES IN {{filteredOrganization | uppercase}}, SIKKIM
                <br/> WHERE EX PARTE INJUNCTION WAS GRANTED AS ON {{lastDateOfMonth && lastDateOfMonth}}.{{month.value}}.{{year.value}}
            </h5>
        </span>

        <table class="table table-bordered" *ngIf="exParteInjunctionCases">
            <thead class="table-header">
                <tr>
                    <th>Sl No.</th>
                    <th>CAUSE TITLE</th>
                    <th>INJUNCTION DATE</th>
                    <th>STATUS REPORT</th>
                </tr>
            </thead>
            <tbody>
                @if(exParteInjunctionCases && exParteInjunctionCases.length>0){
                @for(d of exParteInjunctionCases;track d ; let i=$index){
                <tr>
                    <td width="10">{{i+1}}</td>
                    <td>{{d.type_name}} No.{{d.reg_no}} of {{d.reg_year}} <br />{{d.res_name}}<br>
                    </td>
                    <td>{{d.injunction_granted_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{d.purpose_name}}</td>
                </tr>
                }
                }
                @else{
                <tr class="text-center">
                    <td colspan="4" class="text-secondary">No record found</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
