<div class="login px-5 ">
    <div class="container">
        <div class="row " style="height: 90vh">
            <div class="page-backgroun col-12 col-lg-7 text-center align-items-center d-flex justify-content-center" data-aos="fade-right" data-aos-duration="800">
                <div class="d-block">
                    <img style="height: 40vh;width: auto;" src="../../assets/images/justice_logo.png" />
                    <h2 style="margin-top: -24px;">Monthly Case Statement</h2>
                </div>
            </div>
            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-duration="1200">
                <form #login="ngForm" (ngSubmit)="onLogin(login,$event)">
                    <div class="row gy-3">
                        <div class="col-12">
                            <h3>LOGIN</h3>
                            <hr style="width: 7%; border: 2px solid black">
                        </div>
                        <div class="col-12">
                            <input (keyup)="onChangeHandle()" class="form-control shadow-none" type="text"
                                placeholder="Username" name="username" ngModel #username="ngModel" required>
                            @if(username.touched && username.invalid){
                            <span class="text-danger">Please enter username</span>
                            }
                        </div>
                        <div class="col-12">
                            <input autocomplete="off" (keyup)="onChangeHandle()" class="form-control shadow-none"
                                type="password" placeholder="Password" name="password" ngModel #password="ngModel"
                                required>
                            @if(password.touched && password.invalid){
                            <span class="text-danger">Please enter password</span>
                            }
                        </div>
                    </div>
                    @if(message){
                        <app-prompt [message]="message"></app-prompt>
                    }
                    <div class="row g-3 mt-2">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary w-100" type="submit" [disabled]="showLoader">
                                @if(showLoader){
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status">  Loading...</span>
                                }
                                @else{
                                    Login
                                }
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>