@font-face {
    font-family: 'Kanit';
    src: url('../../../assets/fonts/Kanit.ttf');
}
h2{
    font-family: 'Kanit';
    color: #3990c2;   
}
img{
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h3{
    letter-spacing: 8px;
    color: #3990c2;
    font-weight: bold;
}
.form-control, .btn-primary{
    border-radius: 20px;
}
.form-control{
    padding: 16px;
}
.btn-primary{
    padding: 12px;
}
@keyframes changewidth {
    from {
      transform: scaleX(0);
    }
  
    to {
      transform: scaleX(1);
    }
  }