<ul class="menu">
    <!-- <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="/manage-monthly-statement">
        <label>
            <i class="bi bi-pc-display-horizontal"></i>
            <span>Manage Monthly Statement</span>
        </label>
    </li> -->
    <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="monthly-statement-reports">
        <label>
            <i class="bi bi-file-earmark-text"></i>
            <span>Monthly Case Statement Reports</span>
        </label>
    </li>
    <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="consolidated-statement-report">
        <label>
            <i class="bi bi-file-earmark-text"></i>
            <span>Consolidated Statement</span>
        </label>
    </li>
    <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="monthly-statement">
        <label>
            <i class="bi bi-file-earmark-text"></i>
            <span>Monthly Statement Pending</span>
        </label>
    </li>

    <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="monthly-statement">
        <label>
            <i class="bi bi-file-earmark-text"></i>
            <span>Monthly Statement Pending</span>
        </label>
    </li>

    <li class="menu-item i" [routerLinkActive]="'routerActive'" routerLink="monthly-statement">
    <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Small button
        </button>
        <div class="dropdown-menu">
            ...
        </div>
    </div>
</li>
</ul>