.table-bordered {
    border: 1px solid black; /* Outer border */
}
.table-bordered th, .table-bordered td {
    border: 1px solid black; /* Inner cell borders */
}

        /* Remove rounded corners */
        .table {
            border-radius: 0; /* Ensure the table has no rounded corners */
        }
        .table-bordered {
            border-radius: 0; /* Ensure the table borders have no rounded corners */
        }
        .table-bordered th, .table-bordered td {
            border-radius: 0; /* Ensure the cell borders have no rounded corners */
        }

        .table th {
            vertical-align: middle; /* Vertically centers text */
          }

          .solid-div {            
            height: 60px;            
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        }