<div data-aos="fade-right" data-aos-duration="500">
    <header class="d-flex justify-content-between align-items-center">
        <h4>Under Trial Prisoners</h4>
    </header>
    <hr>


    <div class="row g-3 mb-0">
        <form #filter="ngForm" (ngSubmit)="onSubmit(filter)">
            <div class="row g-3  d-flex align-items-start">

                <div class="col-3 col-lg-2">

                    <label for="month" class="form-label ">Month <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="month" #month="ngModel"
                        [ngModel]="filterData && filterData.month || ''" [disabled]="showLoader"
                        (change)="ResetReport()" required>
                        <option value="">---Select Month---</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <small class="text-danger" *ngIf="month.touched && month.invalid">select a month</small>
                </div>
                <div class="col-3 col-lg-2">
                    <label for="year" class="form-label ">Year <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="year" #year="ngModel"
                        [ngModel]="filterData && filterData.year || ''" [disabled]="showLoader" (change)="ResetReport()"
                        required>
                        <option value="">---Select Year---</option>
                        <option *ngFor="let year of years" [value]="year">
                            {{ year }}
                        </option>
                    </select>
                    <small class="text-danger" *ngIf="year.touched && year.invalid">select a year</small>
                </div>
                <div class="col-3 col-lg-2" *ngIf="username==='hcs_admin'">
                    <label for="year" class="form-label ">Organization <span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="organization" #organization="ngModel" [ngModel]="filterData && filterData.user || ''"
                        [disabled]="showLoader" (change)="ResetReport()" required>
                        <option value="">---Select Organization---</option>
                        <option *ngFor="let org of organisationList" [value]="org.id">
                            {{org.organization_name}}
                        </option>
                    </select>
                    <small class="text-danger" *ngIf="organization.touched && organization.invalid">Select an Organization</small>
                </div>



                <div class="col-3 col-lg-2  mt-0 d-flex align-items-end mt-lg-5">
                    <button class="btn btn-primary" type="submit" [disabled]="showLoader">
                        @if(showLoader){
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        }
                        @else{
                        <i class="bi bi-search"></i>
                        }
                    </button>
                </div>


                <div *ngIf="allUnderTrialPrisoners  && allUnderTrialPrisoners.length>0"
                    class="col-3 col-lg-2 text-left bg-secondary-subtle rounded-2  pb-2">
                    <label for="year" class="form-label ">Filter <span class="text-danger"><i class="bi bi-filter"></i></span></label>
                    <select class="form-select shadow-none" name="case_type_name" #case_type_name="ngModel"
                        (change)="filterDataByTypeName($event)" [ngModel]="filterData && filterData.case_type_name || ''"
                        [disabled]="showLoader">
                        <option value="">-- Case Type Name --</option>
                        <option *ngFor="let case of casetypeNames" [value]="case">
                            {{ case }}
                        </option>
                    </select>
                </div>

            </div>
        </form>
    </div>


    <div  class="row g-3 mt-4 mb-0" id="table-to-pdf">
        <!-- <span class="text-center" *ngIf="caseStatements.length > 0"> -->
        @if(underTrialPrisoners){
        <span class="text-center">
            <h5>LIST OF UNDERTRIAL PRISONERS IN {{filteredOrganization | uppercase}}, SIKKIM
                <br/>  AS ON {{lastDateOfMonth && lastDateOfMonth}}.{{month.value}}.{{year.value}}</h5>
        </span>
      }
        <table class="table table-bordered" *ngIf="underTrialPrisoners">
            <thead class="table-header">
                <tr>
                    <th>Sl No.</th>
                    <th>CASE NUMBER</th>
                    <th>DATE OF INSTITUTION</th>
                    <th>PROCECUTION</th>
                    <th>NAME OF THE ACCUSED</th>
                    <th>JUDICIAL CUSTODY(JC) <br/>
                        ON BAIL(B)
                        ABSCONDING(AB)
                    </th>
                    <th>IN CUSTODY</th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody>
                @if(underTrialPrisoners){
                @for(d of underTrialPrisoners.results;track d ; let i=$index){
                <tr>
                    <td width="10">{{i+1}}</td>
                    <!-- <td width="80">{{d.type_name}} No. {{d.reg_year}}</td> -->
                    <td>{{d.case_no}}</td>
                    <td>{{d.prosecution}}</td>
                    <td>{{d.where_about_the_accused}}</td>
                    <td>Accd. {{d.name_of_the_accused}}</td>
                    <td>{{d.where_about_the_accused}}</td>
                    <td>Since {{d.in_custody_from}}</td>
                    <td>{{d.remarks}}</td>
                    <!-- <td>₹{{ (d.court_fees ?? 0) + (d.other_fees ?? 0) }}/-</td> -->
                </tr>
                }
                }
                @else{
                <tr class="text-center">
                    <td colspan="3" class="text-secondary">No record found</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>

