.main-content{
    border-radius: 16px;
    border:none;
    height: 82%;
    overflow-y: scroll;
}
.card, nav, .sidebar{
    box-shadow:  0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 7px 14px 0 ragba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:  0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.table thead tr th{
    background-color: #e2f4ff !important;
}
th:first-of-type {
    border-top-left-radius: 12px;
}
th:last-of-type {
    border-top-right-radius: 12px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 12px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 12px;
}
.form-control,
.form-select{
    border-radius: 12px;
    padding: 8px;
}
